<form class="form-horizontal form-signin-signup" >
<%= form_for(jobs_path, :method => :get) do |f| %>
  <table cellspacing='0' style='font-family:arial;text-align:left;margin-left:auto;margin-right:auto;'>
    <tr><td style='font-size:16px;color:#FF6600'><b>what type of job</b></td></tr>
    <tr><td><input name='q' placeholder='job title, keywords' value='' size='15'></td></tr>
    <tr><td style='font-size:16px;color:#FF6600'><b>where</b></td></tr>
    <tr><td><input name='l' placeholder='city, state, zip' value='' size='15'></td></tr>
    <tr><td><%= f.submit "Find Jobs" %></tr>
  </table>
<% end %>
</form>

