<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobcatcher</title>
    <link href="/assets/boot-business.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="span6 offset3">
            <h2 class="widget-header" style="color:#555555;font-weight:bold;">Jobcatcher</h2>
            <div class="widget-body">
              <div class="center-align">
                <form class="form-horizontal form-signin-signup" >
                <%= form_for(jobs_path, :method => :put) do |f| %>
                  <table cellspacing='0' style='font-family:arial;text-align:left;margin-left:auto;margin-right:auto;'>
                    <tr><td style='font-size:16px;color:#FF6600'><b>what type of job</b></td></tr>
                    <tr><td><input name='q' placeholder='job title, keywords' value='' size='15'></td></tr>
                    <tr><td style='font-size:16px;color:#FF6600'><b>where</b></td></tr>
                    <tr><td><input name='l' placeholder='city, state, zip' value='' size='15'></td></tr>
                    <tr><td><%= f.submit "Find Jobs" %></tr>
                  </table>
                <% end %>
                </form>

                <%= render :partial => "jobs/search" %>

                <form class="form-horizontal form-signin-signup">
                  <input type="text" name="email" placeholder="Email">
                  <input type="password" name="password" placeholder="Password">
                  <input type="password" name="password_confirmation" placeholder="Password Confirmation">
                  <div>
                    <input type="submit" value="Signup" class="btn btn-primary btn-large">
                  </div>
                </form>
                <h4><i class="icon-question-sign"></i> Already have an account?</h4>
                <a href="signin.html" class="btn btn-large bottom-space">Signin</a>
                <ul class="signin-with-list">
                  <li>
                    <a class="btn-twitter">
                      <i class="icon-twitter icon-large"></i>
                      Sign in with Twitter
                    </a>
                  </li>
                  <li>
                    <a class="btn-facebook">
                      <i class="icon-facebook icon-large"></i>
                      Sign in with Facebook
                    </a>
                  </li>
                  <li>
                    <a class="btn-google">
                      <i class="icon-google-plus icon-large"></i>
                      Sign in with Google
                    </a>
                  </li>
                  <li>
                    <a class="btn-github">
                      <i class="icon-github icon-large"></i>
                      Sign in with Github
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

