<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobcatcher</title>
    <link href="/assets/boot-business.css" rel="stylesheet">
  </head>
  <body>
    <%= render :partial => "jobs/search" %>
  </body>
</html>

