<p>Welcome to Jobcatcher, <%= @email %>!</p>

<p>Now you can save your haul when you browse for the jobs you like.</p>

<p>Confirm your account through the link below, and happy fishing!</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
